@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: var(--font-sans);
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@custom-variant dark (&:where(.dark, .dark *));

@theme {

--color-dark-background: #1e1e1e;   /* slate dark */

--color-light-background: #FAFAFA;

/* TEXT */
--color-dark-primary-text:   #E2E2E2; /* slightly cooler + clearer */
--color-light-primary-text:  #303030;

--color-dark-secondary-text: #B5B5B5; /* softer slate contrast */
--color-light-secondary-text:#4A4A4A;

/* BORDERS */
--color-dark-border:  #505050; /* slate-aligned border */
--color-less-dark-border: #b8b6b6;
--color-light-border: #8a8a8a;

/* ACCENTS (cool slate greys) */
--color-v-dark-accent:  #2a2a2a; /* near-background slate */
--color-dark-accent:    #3a3a3a; /* solid slate gray */
--color-light-accent:   #b5b5b5;
--color-v-light-accent: #f0f0f0;



  /* Custom font families */
  --font-body: "Open Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --font-sans: "Open Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}